header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.recuadrado {
  flex: 0 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px;
}

.recuadrado.r1 {
  background-image: url('../images/story_main.png');
  width: 100%;
}

.recuadrado.r2 {
  background-image: url('../images/img-story-2.png');
}

.recuadrado.r3 {
  background-image: url('../images/img-story-3.png');
}

.recuadrado.r4 {
  background-image: url('../images/img-story-1.png');
}

.recuadrado p {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
  flex-flow: row wrap;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.titular {
  flex: 0 0 300px;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

.titular h1 {
  text-align: center;
}

.prueba {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  flex: 0 0 auto;
  object-fit: scale-down;
}
