header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

.recuadrado {
  border: 1px solid black;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.recuadrado.r1 {
  background-image: url('../images/story_main.png');
}

.recuadrado.r2 {
  background-image: url('../images/img-story-2.png');
}

.recuadrado.r3 {
  background-image: url('../images/img-story-3.png');
}

.recuadrado.r4 {
  background-image: url('../images/img-story-1.png');
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.titular {
  border: 3px solid black;
}
